.auth-container {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6fa;
}

.auth-box {
  background: #fff;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-box h1 {
  margin-bottom: 10px;
  color: white;
}

.auth-box p {
  color: #666;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.input-group i {
  margin-right: 10px;
  color: #777;
}

.input-group input {
  width: 100%;
  padding: 12px;
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 8px;
  color: #fff;

}

.input-group input:focus {
  border-color: #7c3aed;
  outline: none;
}

.auth-btn {
  width: 100%;
  background: #7d3cff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-btn:hover {
  background: #5f2bd6;
}

.divider {
  margin: 20px 0;
  color: #aaa;
  font-size: 14px;
}

.pi-login-btn {
  width: 100%;
  background: #7d3cff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.pi-login-btn:hover {
  background: #5f2bd6;
}

.auth-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.auth-links a {
  text-decoration: none;
  color: #7d3cff;
}

/* AUTH PAGES */

.auth-body {
  background: linear-gradient(135deg, #0b0f1a, #12182b);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  width: 100%;
  padding: 20px;
}

.auth-box {
  max-width: 420px;
  margin: auto;
  background: #0f172a;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .4);
}

.auth-header {
  text-align: center;
  margin-bottom: 25px;
}

.auth-header h2 {
  color: #fff;
  margin-bottom: 8px;
}

.auth-header p {
  color: #666;
  margin-bottom: 20px;
}

.auth-form .form-group {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
}


.auth-form label {
  color: #cbd5f5;
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 8px;
  color: #fff;
}

.auth-form input:focus {
  border-color: #7c3aed;
  outline: none;
}

.auth-links {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.auth-links a {
  color: #7c3aed;
  text-decoration: none;
}

.btn {
  background-color: #7c3aed;
  width: 100%;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #5f2bd6;

}